.mats, .tools, .technics, .discount, .delivery{
	background: url(sprites.png) no-repeat;
}

.mats{
	background-position: 0 0;
	width: 280px;
	height: 418px;
}

.tools{
	background-position: -298px 0;
	width: 444px;
	height: 361px;
}

.technics{
	background-position: -750px 0;
	width: 511px;
	height: 401px;
}

.discount{
	background-position: 0 -447px ;
	width: 335px;
	height: 406px;
}

.delivery{
	background-position: -349px -469px ;
	width: 477px;
	height: 384px;
}

